html {
    background-color: #FFF;
}

.App {
    display: flex;
    justify-content: center;
    margin-top: 115px;
}

.App__months {
    display: flex;
    /* justify-content: space-around; */
    margin-left: 16px;
    /* width: auto; */
}

.App__month {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #959494;
    margin-right: 42.5px;
}

.App__row {
    display: Flex;
    justify-content: left;
    margin-right: 15px;

}

.App__container_day_of_the_week {
    display: flex;
    flex-direction: column;
}

.App__day_of_the_week {
    display: flex;
    font-family: Inter;
    margin-top: 15.54px;
    margin-right: 4.67px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #959494;
}

.App__day_of_the_week-first {
    margin-top: 19px;

}

.App__cell {
    width: 15px;
    height: 15px;
    background-color: #EDEDED;
    margin: 0 1px 1px 0;
}

.App__cell-3 {
    width: 15px;
    height: 15px;
    background-color: #ACD5F2;
    margin: 0 1px 1px 0;
}

.App__cell-6 {
    width: 15px;
    height: 15px;
    background-color: #7FA8C9;
    margin: 0 1px 1px 0;
}

.App__cell-9 {
    width: 15px;
    height: 15px;
    background-color: #527BA0;
    margin: 0 1px 1px 0;
}

.App__cell-12 {
    width: 15px;
    height: 15px;
    background-color: #254E77;
    margin: 0 1px 1px 0;
}

.App__cell_visible {
    display: block;
    position: absolute;
    transform: translate(-65px, -70px);
    width: 145px;
    height: 37px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 5px;
}

.App__cell_br {
    color: #7C7C7C;
    font-size: 10px;
}

.qwe {
    transform: translate(-0px, 5px);
}

.App__cell_visible_date {
    color: #7C7C7C;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;

}